In [23]:
import mysql.connector as connector
#creating class for connection to db
class DBHelper:
    def __init__(self):
        self.mydb=connector.connect(host="localhost",
                                    user="root",
                                    password="Enter Your Password",
                                    database="Databasename")
        self.mycursor=self.mydb.cursor()
            
    #table create
    def create_table(self):
        self.mycursor.execute("DROP TABLE IF EXISTS EMPLOYEE")
        query ='''CREATE TABLE IF NOT EXISTS EMPLOYEE(
                emp_no  INT,
                FIRST_NAME CHAR(20) NOT NULL,
                LAST_NAME CHAR(20),
                AGE INT,
                SEX ENUM ('M','F')  NOT NULL,
                INCOME FLOAT,
                PRIMARY KEY (emp_no))'''
        self.mycursor.execute(query)
        print("Table created")
    
    #insert data into table
    def insert_data(self,value):
        query="INSERT INTO EMPLOYEE (emp_no,FIRST_NAME,LAST_NAME,AGE,SEX,INCOME) VALUES (%s,%s,%s,%s,%s,%s)"
        self.mycursor.executemany(query,value)
        self.mydb.commit()  #commit is done on
        print("user saved to db")

In [24]:
#creation of database 
TableObject=DBHelper()
TableObject.create_table() # create table
data=[(10001,'Georgi','Facello',34,'M',40000),
(10002,'Bezalel','Simmel',33,'F',3447500),
(10003,'Parto','Bamford',23,'M',37500),
(10004,'Chirstian','Koblick',33,'M',1137500),
(10005,'Kyoichi','Maliniak',40,'M',137500),
(10006,'Anneke','Preusig',45,'F',357500),
(10007,'Tzvetan','Zielinski',22,'F',3787500),
(10008,'Saniya','Kalloufi',33,'M',374500),
(10009,'Sumant','Peac',25,'F',30500),
(10010,'Duangkaew','Piveteau',33,'F',437500),
(10011,'Mary','Sluis',34,'F',36500),
(10012,'Patricio','Bridgland',44,'M',137500),
(10013,'Eberhardt','Terkki',45,'M',3758900),
(10014,'Berni','Genin',47,'M',3337500),
(10015,'Guoxiang','Nooteboom',47,'M',9037500),
(10016,'Kazuhito','Cappelletti',54,'M',1237500),
(10017,'Cristinel','Bouloucos',59,'F',434500),
(10018,'Kazuhide','Peha',31,'F',49500),
(10019,'Lillian','Haddadi',32,'M',37500),
(10020,'Mayuko','Warwick',33,'M',37599),
(10021,'Ramzi','Erde',44,'M',327500),
(10022,'Shahaf','Famili',42,'M',837200),
(10023,'Bojan','Montemayor',35,'F',37510),
(10024,'Suzette','Pettey',46,'F',87500),
(10025,'Prasadram','Heyers',47,'M',37500),
(10026,'Yongqiao','Berztiss',48,'M',563032),
(10027,'Divier','Reistad',49,'F',584299),
(10028,'Domenick','Tempesti',28,'M',6033098),
(10029,'Otmar','Herbst',29,'M',5449755),
(10030,'Elvis','Demeyer',24,'M',1700551),
(10031,'Karsten','Joslin',36,'M',5560740),
(10032,'Jeong','Reistad',48,'F',6277745),
(10033,'Arif','Merlo',22,'M',63475),
(10034,'Bader','Swan',28,'M',6366208),
(10035,'Alain','Chappelet',48,'M',646563),
(10036,'Adamantios','Portugali',31,'M',6855833),
(10037,'Pradeep','Makrucki',31,'M',70220),
(10038,'Huan','Lortz',31,'M',73362),
(10039,'Alejandro','Brender',32,'M',75582),
(10040,'Weiyi','Meriste',42,'F',79513),
(10041,'Uri','Lenart',48,'F',80083),
(10042,'Magy','Stamatiou',42,'F',84456),
(10043,'Yishay','Tzvieli',42,'M',88070),
(10044,'Mingsen','Casley',55,'F',46671),
(10045,'Moss','Shanbhogue',66,'M',4853384),
(10046,'Lucien','Rosenbaum',42,'M',52668),
(10047,'Zvonko','Nyanchama',33,'M',60929),
(10048,'Florian','Syrotiuk',36,'M',64604),
(10049,'Basil','Tramer',46,'F',64780),
(10050,'Yinghua','Dredge',36,'M',66302),
(10051,'Hidefumi','Caine',42,'M',6339042),
(10052,'Heping','Nitsch',34,'M',4470889),
(10053,'Sanjiv','Zschoche',42,'F',4471434),
(10054,'Mayumi','Schueller',36,'M',7554612),
(10055,'Georgy','Dredge',36,'M',765018),
(10056,'Brendon','Bernini',33,'F',78335),
(10057,'Ebbe','Callaway',36,'F',580944),
(10058,'Berhard','McFarlin',25,'M',82507),
(10059,'Alejandro','McAlpine',20,'F',85875),
(10060,'Breannda','Billingsley',26,'M',89324),
(10061,'Tse','Herber',36,'M',90668),
(10062,'Anoosh','Peyn',31,'M',93507),
(10063,'Gino','Leonhardt',31,'F',9444443),
(10064,'Udi','Jansch',36,'M',94409),
(10065,'Satosi','Awdeh',31,'M',72488),
(10066,'Kwee','Schusler',31,'M',74347),
(10067,'Claudi','Stavenow',36,'M',75405)]
TableObject.insert_data(data) #insert data

Table created
user saved to db